.token-icon {
  @drop-token-shadow: {
    box-shadow: 0 0 16px 0 @token-image-shadow;
  }

  flex: 0 0 38px;
  margin-right: 16px;
  border-radius: 50%;
  width: 38px;
  height: $width;

  img {
    border-radius: 50%;
    width: inherit;
    height: $width;
    @drop-token-shadow();
  }

  @media screen and (max-width: 1279px) {
    margin-right: 8px;
  }

  &.small {
    flex: 0 0 28px;
    margin-right: 8px;
    width: 28px;
    height: $width;

    img {
      width: 28px;
      height: $width;
    }
  }

  &.smallest {
    flex: 0 0 24px;
    margin-right: 8px;
    width: 24px;
    height: $width;
  }

  &.minimal {
    flex: 0 0 24px;
    margin-right: 8px;
    width: 16px;
    height: $width;
  }

  &.inline {
    flex: 0 0 1em;
    margin-right: 8px;
    margin-left: 8px;
    height: 1.15em;
    width: $height;

    img {
      width: inherit;
      height: $width;
    }
  }

  &.no-margin {
    margin-right: 0;
  }

  &.fallback {
    border-radius: 50%;
    background-color: @token-image-background;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    @drop-token-shadow();

    &.smallest {
      span {
        font-size: 6px;
        line-height: 8px;
      }
    }

    span {
      font-size: 9px;
      line-height: 16px;
      color: @text-primary;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      @font-bold();
    }
  }

  &.skeleton {
    @drop-token-shadow();
  }
}
