.general-no-wallet-desktop {
  background-color: $white;
  height: 100vh;
}
.general-no-wallet-desktop .g-wrapper {
  margin: 0 auto;
}
.general-no-wallet-desktop__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.general-no-wallet-desktop__wrapper-info {
  -webkit-flex-basis: 53.5%;
      -ms-flex-preferred-size: 53.5%;
          flex-basis: 53.5%;
}
.general-no-wallet-desktop__wrapper-info .logo {
  position: relative;
  top: 0;
  left: 0;
}
.general-no-wallet-desktop__wrapper-info .title {
  font-family: $Bold;
  font-size: 40px;
  line-height: 54px;
  margin-top: 40px;
}
.general-no-wallet-desktop__wrapper-info .description {
  margin-top: 24px;
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
}
.general-no-wallet-desktop__wrapper-info .description a {
  color: $black;
}
.general-no-wallet-desktop__wrapper-info button.button-active {
  margin-top: 40px;
}
.general-no-wallet-desktop__wrapper-info .text {
  margin-top: 24px;
  font-family: $Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
.general-no-wallet-desktop__wrapper-qr {
  width: 240px;
  margin-top: 80px;
}
.general-no-wallet-desktop__wrapper-qr picture,
.general-no-wallet-desktop__wrapper-qr img {
  display: block;
  width: 100%;
}
.general-no-wallet-desktop__wrapper-qr .qr-code {
  height: 240px;
  padding: 12px;
  background-color: #fcfcfc;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 16px #ccc;
          box-shadow: 0px 4px 16px #ccc;
}
.general-no-wallet-desktop__wrapper-qr .description {
  margin-top: 40px;
  font-family: $Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
