.governance__menu-wrapper .title {
  font-family: $Medium;
  font-size: 40px;
  line-height: 54px;
  color: $black;
}
.governance__menu-wrapper .description {
  margin-top: 16px;
  font-family: $Medium;
  font-size: 14px;
  line-height: 22px;
  color: rgba(60,60,67,0.6);
  margin-bottom: 40px;
}
.governance__menu-wrapper-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(60,60,67,0.08);
}
.governance__menu-wrapper-item:first-child {
  margin-top: 0;
}
.governance__menu-wrapper-item .item__info {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.governance__menu-wrapper-item .item__info .loading {
  width: 38px;
  height: 38px;
  position: relative;
}
.governance__menu-wrapper-item .item__info .loading:before {
  position: absolute;
  content: '';
  width: 34px;
  height: 34px;
  background-color: #fafafc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  z-index: 5;
}
.governance__menu-wrapper-item .item__info-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#f1f1f1));
  background: -o-linear-gradient(bottom, #f1f1f1, #f1f1f1);
  background: linear-gradient(0deg, #f1f1f1, #f1f1f1);
  -webkit-box-shadow: 0px 0px 16px rgba(241,241,241,0.5);
          box-shadow: 0px 0px 16px rgba(241,241,241,0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -2px;
  z-index: 10;
  margin-left: 6px;
}
.governance__menu-wrapper-item .item__info-icon span {
  font-family: $Regular;
  font-size: 16px;
  line-height: 18px;
}
.governance__menu-wrapper-item .item__info-label {
  margin-left: 7px;
  margin-top: 4px;
}
.governance__menu-wrapper-item .item__info-label p {
  font-family: $Medium;
  line-height: 14px;
}
.governance__menu-wrapper-item .item__info-label span {
  font-family: $Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
.governance__menu-wrapper-item .item__info.active .loading .hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 38px, 38px, 19px);
  border-radius: 100%;
}
.governance__menu-wrapper-item .item__info.active .loading .fill,
.governance__menu-wrapper-item .item__info.active .loading .dot span {
  background-color: #000;
}
.governance__menu-wrapper-item .item__info.active .loading .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 19px, 38px, 0px);
}
.governance__menu-wrapper-item .item__info.active .loading .left .fill {
  z-index: 1;
  -webkit-animation: left 1s linear;
  animation: left 1s linear both;
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.governance__menu-wrapper-item .item__info.active .loading .right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}
.governance__menu-wrapper-item .item__info.active .loading .right .fill {
  z-index: 3;
  -webkit-animation: right 1s linear;
  animation: right 1s linear both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.governance__menu-wrapper-item .item__info.voting-opened .loading {
  background-color: #ff585f;
  border-radius: 50%;
}
.governance__menu-wrapper-item .item__info.voting-closed .loading {
  background-color: #30be16;
  border-radius: 50%;
}
.governance__menu-wrapper-item .item__link {
  margin-left: auto;
  width: 91px;
}
.governance__menu-wrapper-item .item__link a {
  display: block;
  padding: 9px 27px;
  background-color: #f1f1f1;
  border-radius: 19px;
  font-family: $Bold;
}
.governance__menu-wrapper-item .item__link a.black-link {
  background-color: $black;
  height: auto;
}
