version: 2

jobs:
  build:
    working_directory: /tmp/workspace
    docker:
      - image: cimg/node:14.17.4
    environment:
      - VUE_APP_IS_DEV: false
    steps:
      - checkout
      - run:
          name: Prepare files to build static web app
          command: |
            cd /tmp/workspace
            openssl aes-256-cbc -pbkdf2 -iter 100000 -d -k $CI_SECRET -in deploy/keys-stg.enc -out deploy/keys-stg.dec
            mv deploy/keys-stg.dec src/settings/keys.ts
      - run:
          name: Build web app
          command: yarn && yarn build
      - persist_to_workspace:
          root:  /tmp/workspace
          paths: [ '*' ]

  deploy:
    working_directory: /tmp/workspace
    docker:
      - image: cimg/base:2021.04
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Install Google Cloud SDK
          command: |
            wget -qO- https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-351.0.0-linux-x86_64.tar.gz | sudo tar xz -C /usr/local
            sudo /usr/local/google-cloud-sdk/install.sh --quiet
            sudo /usr/local/google-cloud-sdk/bin/gcloud components install app-engine-go
      - run:
          name: Decrypt deploy key
          command: |
            cd /tmp/workspace
            openssl aes-256-cbc -pbkdf2 -iter 100000 -d -k $CI_SECRET -in deploy/deploykey-stg.enc -out deploy/deploykey-stg.json
            /usr/local/google-cloud-sdk/bin/gcloud auth activate-service-account --key-file deploy/deploykey-stg.json
      - run:
          name: Deploy to GAE
          command: |
            # align structure for static GAE app
            mkdir deploy/www
            mv dist/* deploy/www/
            mv deploy/www dist/
            cp deploy/moverwebapp.yaml dist/
            cd ../dist
            gcloud app deploy --project mcmannaman-208313 moverwebapp.yaml --promote

workflows:
  version: 2
  commit:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only:
                - staging
                - main
          requires:
            - build
