.burger-menu__popup-bg {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.burger-menu__popup-bg-active {
  opacity: 1;
  z-index: 15;
  visibility: visible;
}
.burger-menu__popup {
  position: absolute;
  top: 104px;
  right: 0;
  width: 288px;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.burger-menu__popup-active {
  z-index: 20;
  opacity: 1;
  visibility: visible;
}
.burger-menu__wrapper {
  background: #fafafc;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 16px;
}
.burger-menu__wrapper-info {
  padding: 24px;
  display: block;
}
.burger-menu__wrapper-info ul {
  list-style-type: none;
}
.burger-menu__wrapper-info ul li {
  margin-top: 8px;
}
.burger-menu__wrapper-info ul li:first-child {
  margin-top: 0;
}
.burger-menu__wrapper-info ul li a {
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
}
