.claim-and-burn__wrapper-info-items-item-right {
  margin-left: auto;
}
.claim-and-burn__wrapper-info-items-item-right button.currency {
  background: #343c77;
  -webkit-box-shadow: 0px 0px 16px #343c77;
          box-shadow: 0px 0px 16px #343c77;
}
.claim-and-burn__wrapper-info-items-item-right button.use span {
  color: #687ee3;
}
.claim-and-burn__wrapper-info-button .action {
  background-color: $black;
}
.claim-and-burn__wrapper-info-footer-description .icon {
  margin: 0 3px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: 6px;
}
.claim-and-burn__wrapper-info-footer-description .icon img {
  border-radius: 50%;
  display: block;
  width: 22px;
  height: 22px;
}
.claim-and-burn__wrapper-info-footer-description .icon-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: 6px;
  left: 6px;
}
.claim-and-burn__wrapper-info-footer-description .icon-wrapper img {
  border-radius: 50%;
  display: block;
  width: 22px;
  height: 22px;
}
.claim-and-burn__wrapper-info-footer-description .icon-wrapper .icon-right {
  position: relative;
  left: -11px;
}
