.nibble-shop__popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background: #fff;
}
.nibble-shop__popup-active {
  z-index: 19;
  opacity: 1;
  visibility: visible;
  overflow: auto;
}
.nibble-shop__wrapper {
  padding: 104px 0 200px;
}
.nibble-shop__wrapper .g-wrapper {
  margin: 0 auto;
}
.nibble-shop__wrapper-info-title img {
  width: 100%;
  display: block;
}
.nibble-shop__wrapper-info-items {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 40px;
}
.nibble-shop__wrapper-info-items-item {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 8px;
  margin-top: 40px;
  padding: 24px;
  height: 280px;
  position: relative;
  overflow: hidden;
}
.nibble-shop__wrapper-info-items-item-bg {
  position: absolute;
}
.nibble-shop__wrapper-info-items-item-bg video {
  width: auto;
  display: block;
}
.nibble-shop__wrapper-info-items-item:first-child {
  margin-top: 0;
  background-color: #d8dfe6;
}
.nibble-shop__wrapper-info-items-item:first-child .nibble-shop__wrapper-info-items-item-bg {
  top: -55px;
  left: calc(50% - 195px);
}
.nibble-shop__wrapper-info-items-item:first-child .nibble-shop__wrapper-info-items-item-bg video {
  height: 391px;
}
.nibble-shop__wrapper-info-items-item:nth-child(2) {
  background-color: #d8dfe6;
}
.nibble-shop__wrapper-info-items-item:nth-child(2) .nibble-shop__wrapper-info-items-item-bg {
  top: -43px;
  left: calc(50% - 171px);
}
.nibble-shop__wrapper-info-items-item:nth-child(2) .nibble-shop__wrapper-info-items-item-bg video {
  height: 343px;
}
.nibble-shop__wrapper-info-items-item:nth-child(3) {
  background-color: #eff4f9;
}
.nibble-shop__wrapper-info-items-item:nth-child(3) .nibble-shop__wrapper-info-items-item-bg {
  top: -10px;
  left: calc(50% - 145px);
}
.nibble-shop__wrapper-info-items-item:nth-child(3) .nibble-shop__wrapper-info-items-item-bg video {
  height: 290px;
}
.nibble-shop__wrapper-info-items-item:nth-child(4) {
  background-color: #eff4f9;
}
.nibble-shop__wrapper-info-items-item:nth-child(4) .nibble-shop__wrapper-info-items-item-bg {
  top: -24px;
  left: calc(50% - 156px);
}
.nibble-shop__wrapper-info-items-item:nth-child(4) .nibble-shop__wrapper-info-items-item-bg video {
  height: 312px;
}
.nibble-shop__wrapper-info-items-item-content {
  position: relative;
  z-index: 10;
  max-width: 313px;
}
.nibble-shop__wrapper-info-items-item-content h3 {
  color: $black;
  font-size: 24px;
  line-height: 32px;
  font-family: $Bold;
}
.nibble-shop__wrapper-info-items-item-content p {
  margin-top: 8px;
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
}
.nibble-shop__wrapper-info-items-item a {
  display: inline-block;
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 8px 24px;
  font-family: $Bold;
  border-radius: 19px;
  background-color: $black;
  color: $white;
}
.nibble-shop__wrapper-info-items-item-info {
  z-index: 10;
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.nibble-shop__wrapper-info-items-item-info p {
  color: rgba(60,60,67,0.6);
  font-family: $Medium;
}
.nibble-shop__wrapper-info-items-item-info span {
  color: $black;
  font-family: $Medium;
  margin-top: 8px;
  display: inline-block;
}
