.product-item-sell__wrapper-info-items-item-right button.currency {
  background: #b9bbbc;
  -webkit-box-shadow: 0px 0px 16px #b9bbbc;
          box-shadow: 0px 0px 16px #b9bbbc;
}
.product-item-sell__wrapper-info-items-item-right button.currency span {
  color: $black;
}
.product-item-sell__wrapper-info-button .action {
  background-color: $black;
}
