.product-item__wrapper {
  position: relative;
  padding: 0 0 200px;
}
.product-item__wrapper-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-item__wrapper-title .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-item__wrapper-title .title .icon {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.product-item__wrapper-title .title .icon img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}
.product-item__wrapper-title .button {
  margin-left: auto;
}
.product-item__wrapper-title .button button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}
.product-item__wrapper-banner {
  margin-top: 40px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 8px;
  max-height: 280px;
}
.product-item__wrapper-banner video {
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.product-item__wrapper-info {
  margin-top: 40px;
}
.product-item__wrapper-info span {
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
  color: rgba(60,60,67,0.6);
}
.product-item__wrapper-info h3 {
  font-family: $Bold;
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
}
.product-item__wrapper-info p {
  font-family: $Regular;
  font-size: 16px;
  line-height: 24px;
  color: rgba(60,60,67,0.6);
  margin-top: 24px;
}
.product-item__wrapper-info span.price {
  display: inline-block;
  font-family: $Regular;
  color: $black;
  margin-top: 8px;
}
