.popup-provide-liquidity .popup__content {
  padding: 0;
}
.popup-provide-liquidity .popup__content-swaps {
  padding: 24px;
}
.popup-provide-liquidity .popup__content .info .info__form {
  position: relative;
}
.popup-provide-liquidity .popup__content .info .info__form:last-child {
  padding: 28px 16px 16px;
  border-radius: 0px 0px 8px 8px;
}
.popup-provide-liquidity .popup__content .info .info__form:last-child .info__form-right button.currency {
  background-color: #aee25e;
  -webkit-box-shadow: 0px 0px 16px #aee25e;
          box-shadow: 0px 0px 16px #aee25e;
}
.popup-provide-liquidity .popup__content .info .info__form:last-child .info__form-right button.use span {
  color: #aee25e;
}
.popup-provide-liquidity .popup__content .info .info__form:first-child {
  z-index: 5;
  border-radius: 8px 8px 0 0;
}
.popup-provide-liquidity .popup__content .info .info__form:first-child:after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;
  z-index: 3;
  width: 60px;
  height: 25px;
  background: #fcfcfc;
}
.popup-provide-liquidity .popup__content .info .info__form:first-child:before {
  position: absolute;
  content: '';
  width: 21px;
  height: 21px;
  left: 20px;
  bottom: -10px;
  z-index: 2;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.popup-provide-liquidity .popup__content .info .info__form-left .icon {
  background-color: rgba(60,60,67,0.6);
}
.popup-provide-liquidity .popup__content .info .info__form-right {
  margin-left: auto;
}
.popup-provide-liquidity .popup__content .info .info__form-right button.currency {
  background-color: #687ee3;
  -webkit-box-shadow: 0px 0px 16px #687ee3;
          box-shadow: 0px 0px 16px #687ee3;
}
.popup-provide-liquidity .popup__content .info .info__form-right button.use span {
  color: #687ee3;
}
.popup-provide-liquidity .popup__content .button .action {
  background-color: #000;
  opacity: 0.5;
}
