.test-popup {
  position: fixed;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.test-popup-active {
  z-index: 20;
  opacity: 1;
  visibility: visible;
}
.test-popup__background {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 100vh;
}
.test-popup__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.test-popup__close-active {
  z-index: 20;
  opacity: 1;
  visibility: visible;
}
.test-popup__close svg {
  cursor: pointer;
}
.test-popup__content {
  position: absolute;
  top: 105px;
  left: calc(50% - 264px);
  width: 528px;
  background-color: #fafafc;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 16px;
  z-index: 20;
  padding: 24px;
}
.test-popup__content .title {
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
  color: rgba(60,60,67,0.6);
  text-align: center;
}
.test-popup__content .info {
  margin-top: 24px;
}
.test-popup__content .info__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fcfcfc;
  padding: 24px 16px;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 8px;
}
.test-popup__content .info__form-left {
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.test-popup__content .info__form-left .icon {
  background-color: rgba(60,60,67,0.6);
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
.test-popup__content .info__form-left .icon img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.test-popup__content .info__form-left input {
  background-color: transparent;
  border: none;
  outline: none;
  color: $black;
  font-family: $Medium;
}
.test-popup__content .info__form-left input::-webkit-outer-spin-button,
.test-popup__content .info__form-left input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}
.test-popup__content .info__form-left .input-top {
  font-family: $Medium;
  font-size: 18px;
  line-height: 28px;
  margin-left: 8px;
  max-width: 250px;
}
.test-popup__content .info__form-left .input-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.test-popup__content .info__form-left .input-bottom span,
.test-popup__content .info__form-left .input-bottom input {
  font-size: 12px;
  line-height: 16px;
}
.test-popup__content .info__form-left .input-bottom span {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  font-family: $Medium;
  color: $black;
}
.test-popup__content .info__form-left .input-bottom span.disabled {
  color: rgba(60,60,67,0.6);
}
.test-popup__content .info__form-left .input-bottom input {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}
.test-popup__content .info__form-right {
  margin-left: auto;
}
.test-popup__content .info__form-right button.currency {
  margin-left: auto;
  padding: 3px 16px;
  border-radius: 19px;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.test-popup__content .info__form-right button.currency span {
  margin-left: 0;
  display: inline-block;
  color: $white;
  font-family: $Bold;
  margin-right: 4px;
}
.test-popup__content .info__form-right button.use {
  margin-left: auto;
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}
.test-popup__content .info__form-right button.use span {
  margin-left: 8px;
  font-family: $Medium;
  font-size: 12px;
  line-height: 16px;
}
.test-popup__content .info__form-right p {
  margin-top: 8px;
  font-family: $Medium;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.test-popup__content .statistics {
  margin-top: 24px;
}
.test-popup__content .statistics__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}
.test-popup__content .statistics__item:first-child {
  margin-top: 0;
}
.test-popup__content .statistics__item .description {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  font-family: $Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
.test-popup__content .statistics__item div.value {
  text-align: right;
  -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
          flex-basis: 45%;
  margin-left: auto;
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.test-popup__content .statistics__item div.value .icon {
  margin-right: 4px;
}
.test-popup__content .statistics__item div.value .icon img {
  border-radius: 50%;
  display: block;
  width: 16px;
  height: 16px;
}
.test-popup__content .statistics__item div.value span {
  font-family: $Bold;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
.test-popup__content .statistics__item span {
  text-align: right;
  font-family: $Bold;
  font-size: 12px;
  line-height: 16px;
}
.test-popup__content .statistics__item .bold {
  color: $black;
}
.test-popup__content .statistics__item span.value {
  color: rgba(60,60,67,0.6);
}
.test-popup__content .statistics__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 24px;
}
.test-popup__content .statistics__buttons button.flip {
  background: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.test-popup__content .statistics__buttons button.flip picture {
  width: 22px;
  height: 18px;
}
.test-popup__content .statistics__buttons button.flip picture img {
  width: 100%;
  height: 100%;
  display: block;
}
.test-popup__content .statistics__buttons button.flip span {
  margin-left: 4px;
  display: inline-block;
  font-family: $Bold;
}
.test-popup__content .statistics__buttons button.details {
  background: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.test-popup__content .statistics__buttons button.details picture {
  width: 16px;
  height: 20px;
  margin-right: 4px;
}
.test-popup__content .statistics__buttons button.details picture img {
  width: 100%;
  height: 100%;
  display: block;
}
.test-popup__content .statistics__buttons button.details span {
  margin-left: 4px;
  font-family: $Bold;
}
.test-popup__content .statistics__buttons button.details.disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}
.test-popup__content .statistics__buttons button.details.disabled:active {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.test-popup__content .statistics__buttons .details__content {
  display: none;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-top: 24px;
}
.test-popup__content .statistics__buttons .details__content-active {
  display: block;
}
.test-popup__content .statistics__buttons .details__content-item {
  margin-top: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.test-popup__content .statistics__buttons .details__content-item:first-child {
  margin-top: 0;
}
.test-popup__content .statistics__buttons .details__content-item .description {
  font-family: $Regular;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60,60,67,0.6);
}
.test-popup__content .statistics__buttons .details__content-item .info {
  margin-left: auto;
  font-family: $Bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.test-popup__content .statistics__buttons .details__content-item .info.up {
  color: #07c144;
}
.test-popup__content .statistics__buttons .details__content-item .info.rate {
  color: $black;
}
.test-popup__content .button {
  margin-top: 24px;
}
.test-popup__content .button button {
  width: 100%;
  padding: 9px;
  font-family: $Bold;
  color: $white;
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.test-popup__content .button button span {
  margin-right: 7px;
}
.test-popup__content .button .choose {
  background-color: $black;
  opacity: 0.5;
}
.test-popup__content .button .enter {
  background-color: $black;
  opacity: 0.5;
}
.test-popup__content .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.test-popup__content .footer__left {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  margin-top: 24px;
}
.test-popup__content .footer__left span {
  font-family: $Bold;
}
.test-popup__content .footer__left p {
  font-family: $Regular;
  font-size: 12px;
  line-height: 18px;
  color: rgba(60,60,67,0.6);
}
.test-popup__content .footer__right {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  text-align: right;
  padding-top: 24px;
  margin: 0;
}
.test-popup__content .footer__right .swiper-pagination {
  text-align: right;
  top: 4px;
}
.test-popup__content .footer__right .swiper-pagination .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: rgba(60,60,67,0.25);
  margin: 0 1px;
}
.test-popup__content .footer__right .swiper-pagination .swiper-pagination-bullet-active {
  width: 6px;
  height: 4px;
  background-color: $black;
}
.test-popup__content .footer__right .swiper-wrapper {
  position: relative;
  z-index: 20;
}
.test-popup__content .footer__right .swiper-wrapper .swiper-slide {
  cursor: pointer;
}
.test-popup__content .footer__right .swiper-wrapper .swiper-slide p.speed {
  font-family: $Bold;
}
.test-popup__content .footer__right .swiper-wrapper .swiper-slide p.speed span {
  margin-right: 4px;
}
.test-popup__content .footer__right .swiper-wrapper .swiper-slide span {
  font-family: $Regular;
  font-size: 12px;
  line-height: 18px;
  color: rgba(60,60,67,0.6);
}
.test-popup__content .footer__description {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-top: 24px;
}
.test-popup__content .footer__description p {
  color: rgba(60,60,67,0.6);
  font-family: $Regular;
}
.test-popup__content .footer__description p .icon {
  margin: 0 3px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: 6px;
}
.test-popup__content .footer__description p picture img {
  border-radius: 50%;
  display: block;
  width: 22px;
  height: 22px;
}
