.popup-unstake .popup__content .info__form-right {
  margin-left: auto;
}
.popup-unstake .popup__content .info__form-right button.currency {
  background: #ffa202;
  -webkit-box-shadow: 0px 0px 16px #ff9f00;
          box-shadow: 0px 0px 16px #ff9f00;
}
.popup-unstake .popup__content .info__form-right button.currency span {
  color: $black;
}
.popup-unstake .popup__content .info__form-right button.use span {
  color: #ffa202;
}
.popup-unstake .popup__content .button .action {
  background-color: $black;
}
