.card-empty__sidebar .page-sidebar-wrapper-button {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-empty__sidebar .page-sidebar-wrapper-button .image {
  background: #100a20;
  -webkit-box-shadow: 0px 4px 16px #ccc;
          box-shadow: 0px 4px 16px #ccc;
  border-radius: 4px;
  width: 54px;
  height: 40px;
}
.card-empty__sidebar .page-sidebar-wrapper-button .image picture {
  width: 100%;
  height: 100%;
}
.card-empty__sidebar .page-sidebar-wrapper-button .image picture img {
  display: block;
  width: 100%;
}
.card-empty__sidebar .page-sidebar-wrapper-button .content {
  margin-left: 18px;
}
.card-empty__sidebar .page-sidebar-wrapper-button .content .info {
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
}
.card-empty__sidebar .page-sidebar-wrapper-button .content .description {
  font-family: $Bold;
  margin-top: 4px;
}
