* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.button-active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-active:active {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.g-wrapper {
  width: 780px;
  margin-left: 107px;
  padding: 40px 20px 0;
  position: relative;
}

.sidebar-wrapper {
  max-height: 100vh;
  overflow-x: auto;
  position: relative;
  width: 412px;
  margin: 0 auto;
  padding: 0 40px 24px;
  min-height: 100vh;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

section,
main {
  position: relative;
  display: block;
}

.dashboard-mobile {
  display: none;
}

@media (max-width: 768px) {
  .dashboard {
    display: none;
  }

  .dashboard-mobile {
    display: block;
  }
}

@media (max-width: 780px) {
  .g-wrapper {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .sidebar-wrapper {
    width: 100%;
  }
}

@media (max-width: 1279px) {
  .sidebar-wrapper {
    display: none;
  }

  .g-wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 1279px) {
  .page-sidebar-wrapper {
    display: none;
  }
}

html,
body {
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.preload {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 99999;
}

.preload-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.preload-wrapper__sidebar {
  width: 412px;
  background: #f6f6f6;
  border-right: 1px solid rgba(60, 60, 67, 0.07);
}

.preload-wrapper__sidebar .sidebar-wrapper {
  max-height: 100vh;
  overflow-x: auto;
  position: relative;
  width: 412px;
  margin: 0 auto;
  padding: 40px;
}

.preload-wrapper__sidebar-search .search .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__sidebar-search .search {
  width: 100%;
  height: 48px;
}

.preload-wrapper__sidebar-items-item {
  margin-top: 32px;
}

.preload-wrapper__sidebar-items-item .title .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__sidebar-items-item .title {
  width: 54px;
  height: 24px;
  margin-bottom: 22px;
}

.preload-wrapper__sidebar-items-item .description .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__sidebar-items-item .description {
  margin-top: 8px;
  width: 100%;
  height: 22px;
}

.preload-wrapper__sidebar-items-item .subtitle .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__sidebar-items-item .subtitle {
  margin-top: 8px;
  width: 132px;
  height: 16px;
}

.preload-wrapper__menu {
  background-color: #fafafc;
  width: 100%;
}

.preload-wrapper__menu .g-wrapper {
  width: 780px;
  margin-left: 107px;
  padding: 40px 20px 0;
  position: relative;
}

.preload-wrapper__menu-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preload-wrapper__menu-user .user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.preload-wrapper__menu-user .info {
  margin-left: 16px;
}

.preload-wrapper__menu-user .info .description .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__menu-user .info .description {
  width: 85px;
  height: 16px;
  margin-top: 8px;
}

.preload-wrapper__menu-user .info .description:first-child {
  margin-top: 0;
}

.preload-wrapper__menu-navigation {
  margin-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.preload-wrapper__menu-navigation-left {
  margin-top: 4px;
}

.preload-wrapper__menu-navigation-left .item {
  margin-top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.preload-wrapper__menu-navigation-left .item:first-child {
  margin-top: 0;
}

.preload-wrapper__menu-navigation-left .item .icon .pu-skeleton {
  border-radius: 4px;
}

.preload-wrapper__menu-navigation-left .item .icon {
  width: 54px;
  height: 40px;
}

.preload-wrapper__menu-navigation-left .item .info .pu-skeleton {
  margin-left: 16px;
}

.preload-wrapper__menu-navigation-left .item .info .description .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__menu-navigation-left .item .info .description {
  width: 85px;
  height: 16px;
  margin-top: 8px;
}

.preload-wrapper__menu-navigation-left .item .info .description:first-child {
  margin-top: 0;
}

.preload-wrapper__menu-navigation-right {
  width: 100%;
  max-width: 324px;
}

.preload-wrapper__menu-navigation-right .item .pu-skeleton {
  border-radius: 31px;
}

.preload-wrapper__menu-navigation-right .item {
  width: 100%;
  height: 22px;
  margin-top: 24px;
}

.preload-wrapper__menu-navigation-right .item:first-child {
  margin-top: 0;
}

@media (max-width: 1279px) {
  .preload-wrapper__sidebar {
    display: none;
  }
}

.page-sidebar-wrapper-item {
  margin-top: 40px;
}

.page-sidebar-wrapper-item:first-child {
  margin-top: 0;
}

.page-sidebar-wrapper-item h3 {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.page-sidebar-wrapper-item > ul {
  list-style-type: none;
  margin-top: 16px;
}

.page-sidebar-wrapper-item > div {
  margin-top: 16px;
}

.page-sidebar-wrapper-item ul li {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.08);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.page-sidebar-wrapper-item ul li:first-child {
  margin-top: 0;
}

.page-sidebar-wrapper-item ul li p.description {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.page-sidebar-wrapper-item ul li span.value {
  margin-left: auto;
  text-align: right;
  display: block;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
}

.page-sidebar-wrapper-item ul li span.value.estimation {
  color: rgba(60, 60, 67, 0.6);
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 16px rgba(0, 54, 35, 0.5);
  box-shadow: 0 0 16px rgba(0, 54, 35, 0.5);
  background-color: #100920;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.black-link {
  height: 40px;
  padding: 10px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border-radius: 40px;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.link-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

.link-icon picture {
  width: 40px;
  height: 40px;
}

.link-icon picture img {
  display: block;
  width: 100%;
  height: 100%;
}

.back-link {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16.5px 0 14px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.escape-link {
  position: absolute;
  z-index: 19;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.back-link .back img {
  left: 13.26px;
  position: absolute;
}

.secondary-page-wrapper {
  .title.page-title.extra-margin {
    margin-top: 80px;
  }

  .back-link {
    margin-left: -90px;
    left: unset;
    position: fixed;

    @media screen and (max-width: 1279px) {
      margin-left: 0;
      left: 40px;
    }
  }
}

.info__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.info__wrapper-menu {
  max-height: 100vh;
  overflow-x: auto;
  width: 100%;
  background-color: #fafafc;
  position: relative;
}

.info__wrapper-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.info__wrapper-sidebar {
  background: #f6f6f6;
  border-right: 1px solid rgba(60, 60, 67, 0.07);
}

.info__wrapper-sidebar .transaction-search-form {
  position: relative;
  width: 332px;
  height: 40px;
  margin-top: 41px;
  margin-left: auto;
}

.info__wrapper-sidebar .transaction-search-form input {
  width: 100%;
  position: relative;
  background: #fcfcfc;
  box-shadow: 0 4px 16px #ccc;
  border-radius: 25px;
  padding: 8px 51px;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  border: none;
}

.info__wrapper-sidebar .transaction-search-form input::placeholder {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(60, 60, 67, 0.6);
}

.info__wrapper-sidebar .transaction-search-form button {
  position: absolute;
  top: 8px;
  left: 24px;
  background-color: transparent;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(60, 60, 67, 0.6);
}

.popup-bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.popup-bg-active {
  opacity: 1;
  z-index: 15;
  visibility: visible;
}

.desktop-center-section {
  display: flex;
  margin-top: 42px;
}

.desktop-center-section-list:first-child {
  width: 209px;
  margin-right: 251px;
}

.desktop-center-section-list-item {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  display: flex;
  margin-bottom: 24px;
  cursor: pointer;
}

.desktop-center-section-list-item .text {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  display: flex;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.desktop-center-section-list-item .icon {
  width: 24px;
  height: 24px;
}

.desktop-center-section-list-item .wrapper {
  margin-left: 18px;
}

.desktop-center-section-list-item .title {
  color: rgba(60, 60, 67, 0.6);
}

.desktop-center-section-list-item .value {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
}

.desktop-center-section-list-item .image {
  width: 54px;
  height: 40px;
}

.nav-bar {
  right: 0;
  position: absolute;
}

.nav-bar li {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-left: 24px;
}

.card {
  position: relative;
  width: 54px;
  height: 40px;
  color: #fff;
  background: #fff;
  background:
 linear-gradient(-135deg, transparent 50%, var(--bgColor) 0) no-repeat 100% ~'0 / 12px 12px',
    linear-gradient(-135deg, transparent 9px, #fff 0);
  filter: drop-shadow(0 0 16px #ccc);
  border-radius: 3px;
}

.card span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dashboard-mobile {
  background-color: #fff;
  height: 100vh;
}

.dashboard-mobile .logo {
  top: 40px;
  left: 32px;
}

.dashboard-mobile .g-wrapper {
  margin: 0 auto;
  padding: 0 32px;
}

.dashboard-mobile__wrapper {
  padding-top: 120px;
}

.dashboard-mobile__wrapper-gif {
  width: 120px;
  height: 141px;
}

.dashboard-mobile__wrapper-gif video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.dashboard-mobile__wrapper h1 {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #000;
  margin-top: 33px;
}

.dashboard-mobile__wrapper p {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(60, 60, 67, 0.6);
  margin-top: 16px;
}

.dashboard-mobile__wrapper a {
  margin-top: 40px;
}

.progress-loader {
  width: 40px;
  height: 40px;
  position: relative;
}

.page-title {
  margin-top: 40px;

  &.max-width,
  .max-width {
    max-width: 480px;
  }

  .title {
    font-family: 'Bold', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
  }

  .description {
    font-family: 'Medium', sans-serif;
    font-weight: 500;
    color: rgba(60, 60, 67, 0.6);
    margin-top: 8px;
    margin-bottom: 40px;
  }
}

.statements-list {
  .list-title {
    margin-top: 80px;
    font-family: 'Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .item {
    display: block;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }

    .description {
      font-family: 'Medium', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      display: block;
    }

    .value {
      font-family: 'Medium', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: rgba(60, 60, 67, 0.6);
      margin-top: 7px;
      display: block;
    }
  }
}

button > .loader-icon > img {
  vertical-align: middle;
}

.progressive-left-rail {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  flex-grow: 0;
  align-content: space-between;
  height: 85vh;
}

.secondary_page-token-info {
  position: fixed;
  top: 80px;
  right: 64px;
  max-width: 200px;
  width: 100%;

  span {
    display: block;
    font-family: 'Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    margin-top: 7px;
    font-family: 'Medium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

.secondary_page-body {
  max-width: 480px;
  margin-top: 80px;

  h2 {
    font-family: 'Regular', sans-serif;
    font-weight: 400;
    color: rgba(60, 60, 67, 0.6);
    font-size: 12px;
    line-height: 16px;
  }

  .form-swap {
    margin-top: 8px;

    p {
      font-family: 'Regular', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(60, 60, 67, 0.6);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

    span {
      font-size: 12px;
      line-height: 16px;
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      color: rgba(60, 60, 67, 0.6);
    }

    .token {
      height: 16px;
      width: 16px;
      box-shadow: 0 0 8px rgba(53, 119, 190, 0.5);
      border-radius: 19px;
      margin: 0 4px 0 8px;

      &picture {
        width: 16px;
        height: 16px;

        img {
          display: block;
          width: 100%;
        }
      }

      img {
        display: block;
        width: 100%;
        border-radius: 50%;
      }
    }
  }

  .form {
    margin-top: 40px;

    p {
      font-family: 'Regular', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(60, 60, 67, 0.6);

      .form-button {
        font-family: 'Bold', sans-serif;
        font-weight: 700;
        cursor: pointer;
        color: #000;
        font-size: 12px;
        line-height: 16px;
      }
    }

    input {
      margin-top: 10px;
      border: none;
      background-color: transparent;
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #000;
    }

    input::placeholder {
      opacity: 0.4;
      font-family: 'Bold', sans-serif;
      font-weight: 700;
    }

    input.min-width {
      min-width: 55px;
    }

    .input-symbol {
      margin-left: 10px;
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #000;
    }

    .input-symbol.inactive {
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      color: #000;
      opacity: 0.2;
    }

    .measury {
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      position: absolute;
      left: -9999px;
      top: -9999px;
    }

    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input:-moz-placeholder,
    input:-ms-input-placeholder {
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      color: #000;
      opacity: 0.2;
    }

    .black-link {
      margin-top: 40px;
    }
  }

  .description {
    margin-top: 16px;

    p {
      font-family: 'Medium', sans-serif;
      font-weight: 500;
      color: rgba(60, 60, 67, 0.6);
      font-size: 14px;
      line-height: 22px;
    }
  }

  .available {
    margin-top: 8px;

    p {
      font-family: 'Regular', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: rgba(60, 60, 67, 0.6);
    }

    span {
      display: inline-block;
      cursor: pointer;
      margin-left: 8px;
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 6px;

    img {
      width: 24px;
      height: 24px;
      display: block;
      border-radius: 50%;
    }

    .button-arrow {
      margin-left: 6px;
      width: 12px;
      height: 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #2775ca;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 8px #ccc;
      box-shadow: 0 0 8px #ccc;

      svg {
        width: 6px;
      }
    }

    .coin {
      margin-left: 8px;

      p {
        font-family: 'Medium', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      span {
        display: inline-block;
        margin-left: 6px;
        font-family: 'Medium', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: rgba(60, 60, 67, 0.6);
      }
    }

    .icon {
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #f1f1f1;
      -webkit-box-shadow: 0 0 16px #ccc;
      box-shadow: 0 0 16px #ccc;
      width: 24px;
      height: 24px;

      span {
        font-family: 'Bold', sans-serif;
        font-weight: 700;
        font-size: 6px;
        line-height: 8px;
        color: #000;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.review__wrapper {
  .title {
    font-family: 'Bold', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
  }

  .arrow {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    picture {
      display: block;

      img {
        display: block;
        width: 100%;
      }
    }

    .item-coin {
      width: 40px;
      height: 40px;

      img {
        display: block;
        width: 100%;
        border-radius: 50%;
      }

      .img-stub {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 16px rgba(0, 0, 0, 50%);

        span {
          font-family: 'Bold', sans-serif;
          font-weight: 700;
          font-size: 9px;
          color: #000;
          text-align: center;
          line-height: 16px;
        }
      }
    }

    .item-image {
      width: 54px;
      height: 40px;
    }

    .item-arrow {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);

      span {
        display: block;
        width: 17px;
        height: 17px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        border-right: 2px solid rgba(0, 0, 0, 0.5);
        -webkit-transform: rotate(45deg) skew(6deg, 6deg);
        -ms-transform: rotate(45deg) skew(6deg, 6deg);
        transform: rotate(45deg) skew(6deg, 6deg);
        border-radius: 1px;
        -webkit-animation: arrow-animate 1s infinite;
        animation: arrow-animate 1s infinite;
      }

      span:nth-child(1) {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
      }

      span:nth-child(2) {
        margin: -4px 0 0;
      }
    }

    .item {
      margin-left: 40px;

      .shadow {
        filter: drop-shadow(0 4px 16px #ccc);
      }
    }

    .item:first-child {
      margin-left: 0;
    }
  }

  .items {
    margin-top: 40px;

    .item {
      margin-top: 40px;

      h2 {
        font-family: 'Medium', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
      }

      span {
        display: block;
        margin-top: 7px;
        font-family: 'Medium', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(60, 60, 67, 0.6);
      }
    }

    .item:first-child {
      margin-top: 0;
    }
  }

  .switch {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      font-family: 'Medium', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      margin-right: 108px;
    }

    .switch-button {
      display: inline-block;
      position: relative;
      width: 56px;
      height: 32px;
      border-radius: 80px;
      border: 1px solid #d8d8d8;
      background: #fff;
      -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      vertical-align: middle;
      cursor: pointer;
    }

    .switch-button::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .switch-button:active::before {
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(128, 128, 128, 0.1);
    }

    input:checked + .switch-button {
      background: #000;
    }

    input:checked + .switch-button::before {
      left: 27px;
      background: #fff;
    }

    input:checked + .switch-button:active::before {
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 150, 136, 0.2);
    }
  }

  .button-active {
    margin-top: 40px;
  }
}

@-webkit-keyframes arrow-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes arrow-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.transaction__wrapper {
  margin-top: 40px;

  .transaction__wrapper-status {
    .title {
      font-family: 'Bold', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 54px;
      text-align: center;
    }

    .description {
      font-family: 'Medium', sans-serif;
      font-weight: 500;
      color: rgba(60, 60, 67, 0.6);
      text-align: center;
      margin-top: 8px;
    }
  }

  .transaction__wrapper-gif {
    margin: 80px auto 0;
    width: 200px;
    height: 200px;

    video {
      display: block;
      width: 100%;
    }
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-80 {
  margin-top: 80px;
}

.medium {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.bold {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.normal {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.gray {
  color: rgba(60, 60, 67, 0.6);
}

.action-error-message {
  margin-top: 24px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #d72c33;
}
