.modal__popup {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 264px);
  width: 528px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  background-color: #fafafc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.modal__wrapper-info {
  padding: 24px;
  display: block;
}

.modal__wrapper-info-title {
  font-family: 'Medium';
  font-size: 16px;
  line-height: 24px;
  color: rgba(60, 60, 67, 0.6);
  text-align: center;
}

.modal__popup-close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;

  &-active {
    z-index: 20;
    opacity: 1;
    visibility: visible;
  }

  svg {
    cursor: pointer;
  }
}
