@import './_variables.less';

.release-radar-desktop {
  background-color: #fafafc;
  min-height: 100vh;
}

.release-radar-desktop .g-wrapper {
  margin: 0 auto;
}

.release-radar-desktop__menu-wrapper {
  padding: 80px 0 234px;
}

.release-radar-desktop__menu-wrapper-item {
  margin-top: 40px;
}

.release-radar-desktop__menu-wrapper-item .skeleton-icon span {
  margin-right: 64px;
}

.release-radar-desktop__menu-wrapper-item .skeleton-title span {
  margin-right: 64px;
  margin-top: 16px;
}

.release-radar-desktop__menu-wrapper-item .token {
  margin-top: 24px;
  padding: 24px;
  background: -o-linear-gradient(225deg, #d3fff2 0%, #c3fbff 100%);
  background: linear-gradient(225deg, #d3fff2 0%, #c3fbff 100%);
  -webkit-box-shadow: 0 4px 16px #b2f1eb;
  box-shadow: 0 4px 16px #b2f1eb;
  border-radius: 8px;
}

.release-radar-desktop__menu-wrapper-item .token__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.release-radar-desktop__menu-wrapper-item .token__info-description {
  -webkit-flex-basis: 85%;
  -ms-flex-preferred-size: 85%;
  flex-basis: 85%;
}

.release-radar-desktop__menu-wrapper-item .token__info-description p {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

.release-radar-desktop__menu-wrapper-item .token__info-coin {
  -webkit-flex-basis: 9.3%;
  -ms-flex-preferred-size: 9.3%;
  flex-basis: 9.3%;
}

.release-radar-desktop__menu-wrapper-item .token__info-coin img {
  border-radius: 50%;
  display: block;
  width: 100%;
  max-width: 64px;
}

.release-radar-desktop__menu-wrapper-item .token .black-link {
  margin-top: 24px;
  max-width: 73px;
}

.release-radar-desktop__menu-wrapper-item-title h2 {
  margin-left: 18px;
  position: relative;
}

.release-radar-desktop__menu-wrapper-item-title h2::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 16px;
  left: -18px;
  background-color: #ff585f;
  border-radius: 50%;
}

.release-radar-desktop__menu-wrapper-item .live-updates {
  margin-top: 24px;
}

.release-radar-desktop__menu-wrapper-item .live-updates__item-icon {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 16px;
  height: 136px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.release-radar-desktop__menu-wrapper-item .live-updates__item-icon span {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

.release-radar-desktop__menu-wrapper-item .live-updates__item-title {
  margin-top: 16px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
}

.release-radar-desktop__menu-wrapper-item .swiper-lists {
  margin-top: 24px;
}

.release-radar-desktop__menu-wrapper-item .swiper-lists__item-icon {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid @black;
}

.release-radar-desktop__menu-wrapper-item .swiper-lists__item-icon img {
  border-radius: 50%;
  display: block;
  width: 66px;
  height: 66px;
  top: 4px;
  left: 4px;
  position: relative;
}

.release-radar-desktop__menu-wrapper-item .swiper-lists__item-icon.transparent-border {
  border-color: #f1f1f1;
}

.release-radar-desktop__menu-wrapper-item .swiper-lists__item-title {
  margin-top: 16px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  text-align: center;
}

.top-movers {
  background-color: #fafafc;
  min-height: 100vh;
}

.top-movers .g-wrapper {
  margin: 0 auto;
}

.top-movers__wrapper {
  padding: 80px 0 206px;
}

.top-movers__wrapper-title {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-movers__wrapper-title-icon {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-movers__wrapper-title-icon span {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.top-movers__wrapper-title h2 {
  margin-left: 16px;
}

.top-movers__wrapper-table {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
  border-spacing: 0;
}

.top-movers__wrapper-table tr {
  border-bottom: 1px solid rgba(60, 60, 67, 0.14);
}

.top-movers__wrapper-table tr th {
  width: 13%;
  text-align: right;
  padding: 0 0 16px 16px;
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.top-movers__wrapper-table tr td {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  width: 13%;
  text-align: right;
  padding: 16px 0 16px 16px;
}

.top-movers__wrapper-table tr th.asset,
.top-movers__wrapper-table tr td.asset {
  padding-left: 0;
  width: 35%;
  text-align: left;
}

.top-movers__wrapper-table tr td.asset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-movers__wrapper-table tr td.asset .icon img {
  border-radius: 50%;
  display: block;
  width: 38px;
  height: 38px;
}

.top-movers__wrapper-table tr td.asset .info {
  margin-left: 16px;
}

.top-movers__wrapper-table tr td.asset .info p {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  line-height: 1;
}

.top-movers__wrapper-table tr td.asset .info span {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60, 60, 67, 0.6);
}

.top-movers__wrapper-table tr td.up {
  color: #07c144;
}

.top-movers__wrapper-table tr td.down {
  color: #f6323a;
}

.top-movers__wrapper-table .clickable-row {
  cursor: pointer;
}

.release-radar-asset__menu-wrapper {
  padding: 80px 0 134px;
}

.release-radar-asset__menu-wrapper-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.release-radar-asset__menu-wrapper-title .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.release-radar-asset__menu-wrapper-title .title .icon {
  margin-right: 15px;
}

.release-radar-asset__menu-wrapper-title .title .icon img {
  border-radius: 50%;
  display: block;
  width: 42px;
  height: 42px;
}

.release-radar-asset__menu-wrapper-title .button {
  margin-left: auto;
}

.release-radar-asset__menu-wrapper-title .button button {
  width: 100%;
  min-width: 114px;
  padding: 9px;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  color: @white;
  background-color: #7485b3;
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.release-radar-asset__menu-wrapper-title .button button span {
  margin-right: 7px;
}

.release-radar-asset__menu-wrapper-balance {
  margin-top: 20px;
}

.release-radar-asset__menu-wrapper-balance .balance {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.release-radar-asset__menu-wrapper-balance .up {
  margin-top: 2px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: #07c144;
}

.release-radar-asset__menu-wrapper-about {
  margin-top: 40px;
}

.release-radar-asset__menu-wrapper-about .description {
  margin-top: 4px;
  color: rgba(60, 60, 67, 0.6);
  font-family: 'Regular', sans-serif;
  font-weight: 400;
}

.release-radar-asset__menu-wrapper-about .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 40px;
}

.release-radar-asset__menu-wrapper-about .links li {
  margin-left: 24px;
}

.release-radar-asset__menu-wrapper-about .links li:first-child {
  margin-left: 0;
}

.release-radar-asset__menu-wrapper-about .links li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 24px;
  background: #f1f1f1;
  border-radius: 20px;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
}

form.search-form {
  width: 100%;
  position: relative;
}

form.search-form input {
  width: 100%;
  position: relative;
  background-color: #f1f1f1;
  padding: 8px 51px;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @black;
  border-radius: 25px;
  border: none;
}

form.search-form input:-ms-input-placeholder:-moz-placeholder::-moz-placeholder::-webkit-input-placeholder {
  color: rgba(60, 60, 67, 0.6);
}

form.search-form button {
  position: absolute;
  top: 8px;
  left: 24px;
  background-color: transparent;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(60, 60, 67, 0.6);
}
