.smart-treasury__menu-wrapper-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.smart-treasury__menu-wrapper-title .title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.smart-treasury__menu-wrapper-title .title .icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-right: 16px;
  -webkit-box-shadow: 0 0 16px #ccc;
  box-shadow: 0 0 16px #ccc;
}

.smart-treasury__menu-wrapper-title .button {
  margin-left: auto;
}

.smart-treasury__menu-wrapper-title .button button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.smart-treasury__menu-wrapper-empty {
  margin-top: 112px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.smart-treasury__menu-wrapper-empty span.icon {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}

.smart-treasury__menu-wrapper-empty h2 {
  margin-top: 40px;
}

.smart-treasury__menu-wrapper-empty p {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

.smart-treasury__menu-wrapper-empty a,
.smart-treasury__menu-wrapper-empty button {
  margin-top: 24px;
}

.smart-treasury__menu-wrapper-balance {
  margin-top: 24px;
}

.smart-treasury__menu-wrapper-balance span.balance {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.smart-treasury__menu-wrapper-balance p {
  margin-top: 8px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

.smart-treasury__menu-wrapper-graph p {
  margin-top: 8px;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.6);
}

.smart-treasury__menu-wrapper-graph p b {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
}

.smart-treasury__menu-wrapper-graph .chart-group-wrapper {
  padding-top: 40px;
}

.smart-treasury__menu-wrapper-graph .chart--body {
  position: relative;
  height: 176px;
}

.smart-treasury__menu-wrapper-statements {
  margin-top: 36px;
}

.smart-treasury__menu-wrapper-statements h2 {
  margin-bottom: 20px;
}

.smart-treasury__menu-wrapper-statements-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.08);
}

.smart-treasury__menu-wrapper-statements-item:first-child {
  margin-top: 0;
}

.smart-treasury__menu-wrapper-statements-item .item__info {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading {
  width: 38px;
  height: 38px;
  position: relative;
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading::before {
  position: absolute;
  content: '';
  width: 34px;
  height: 34px;
  background-color: #fafafc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  z-index: 5;
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, 38px, 38px, 19px);
  border-radius: 100%;
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .fill,
.smart-treasury__menu-wrapper-statements-item .item__info .loading .dot span {
  background-color: #000;
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0, 19px, 38px, 0);
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .left .fill {
  z-index: 1;
  -webkit-animation: left 1s linear;
  animation: left 1s linear both;
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
  }
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.smart-treasury__menu-wrapper-statements-item .item__info .loading .right .fill {
  z-index: 3;
  -webkit-animation: right 1s linear;
  animation: right 1s linear both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.smart-treasury__menu-wrapper-statements-item .item__info-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#f1f1f1), to(#f1f1f1));
  background: -o-linear-gradient(bottom, #f1f1f1, #f1f1f1);
  background: linear-gradient(0deg, #f1f1f1, #f1f1f1);
  -webkit-box-shadow: 0 0 16px rgba(241, 241, 241, 0.5);
  box-shadow: 0 0 16px rgba(241, 241, 241, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -2px;
  z-index: 10;
  margin-left: 6px;
}

.smart-treasury__menu-wrapper-statements-item .item__info-icon span {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.smart-treasury__menu-wrapper-statements-item .item__info-label {
  margin-left: 10px;
}

.smart-treasury__menu-wrapper-statements-item .item__info-label p {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
  line-height: 14px;
}

.smart-treasury__menu-wrapper-statements-item .item__info-label span {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(60, 60, 67, 0.6);
}

.smart-treasury__menu-wrapper-statements-item .item__link {
  margin-left: auto;
}

.smart-treasury__menu-wrapper-statements-item .item__link a {
  display: block;
  padding: 9px 27px;
  background-color: #f1f1f1;
  border-radius: 19px;
  font-family: 'Bold', sans-serif;
  font-weight: 700;
}

.smart-treasury-statements__wrapper {
  padding: 80px 0 200px;
}

.smart-treasury-statements__wrapper-title h2 {
  line-height: 32px;
}

.smart-treasury-statements__wrapper-title p {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  margin-top: 8px;
  color: rgba(60, 60, 67, 0.6);
}

.smart-treasury-statements__wrapper-list {
  list-style-type: none;
  margin-top: 40px;
  background: #fcfcfc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 24px;
}

.smart-treasury-statements__wrapper-list li {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.08);
}

.smart-treasury-statements__wrapper-list li:first-child {
  margin-top: 0;
}

.smart-treasury-statements__wrapper-list li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.smart-treasury-statements__wrapper-list li p.description {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.smart-treasury-statements__wrapper-list li span.value {
  display: block;
  margin-left: auto;
  font-family: 'Medium', sans-serif;
  font-weight: 500;
}
