@black: #000;
@white: #fff;

@font-regular: {
  font-family: 'Regular', sans-serif;
  font-weight: 400;
};

@font-medium: {
  font-family: 'Medium', sans-serif;
  font-weight: 500;
};

@font-bold: {
  font-family: 'Bold', sans-serif;
  font-weight: 700;
};

@font-roboto: {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}
