.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 16px rgba(16,9,32,0.5);
          box-shadow: 0px 0px 16px rgba(16,9,32,0.5);
  background-color: #100920;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
