.unexpected-move__menu.product-item .product-item__wrapper-title .title .icon {
  -webkit-box-shadow: 0px 0px 16px rgba(1,2,28,0.5);
          box-shadow: 0px 0px 16px rgba(1,2,28,0.5);
  background-color: #01011d;
}
.unexpected-move__menu.product-item .product-item__wrapper-title .title .icon img {
  background-color: #01011d;
}
.unexpected-move__menu.product-item .product-item__wrapper-banner {
  background: #01011d;
}
.unexpected-move__menu.product-item .product-item__wrapper-banner video {
  max-width: 378px;
}
