.sweet-and-sour__menu.product-item .product-item__wrapper-title .title .icon {
  -webkit-box-shadow: 0px 0px 16px rgba(10,10,10,0.5);
          box-shadow: 0px 0px 16px rgba(10,10,10,0.5);
  background-color: $black;
}
.sweet-and-sour__menu.product-item .product-item__wrapper-title .title .icon img {
  background-color: $black;
}
.sweet-and-sour__menu.product-item .product-item__wrapper-banner {
  background-color: #0a0a0a;
}
.sweet-and-sour__menu.product-item .product-item__wrapper-banner video {
  max-width: 355px;
}
