.general-no-wallet-desktop {
  background-color: $white;
  height: 100vh;
}
.general-no-wallet-desktop .g-wrapper {
  margin: 0 auto;
}
.general-no-wallet-desktop__wrapper-gif {
  width: 120px;
  height: 141px;
}
.general-no-wallet-desktop__wrapper-gif video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.general-no-wallet-desktop__wrapper h1 {
  font-family: $Bold;
  font-size: 48px;
  line-height: 62px;
  color: $black;
  margin-top: 41px;
}
.general-no-wallet-desktop__wrapper p {
  font-family: $Medium;
  font-size: 14px;
  line-height: 22px;
  color: rgba(60,60,67,0.6);
  margin-top: 24px;
}
.general-no-wallet-desktop__wrapper .buttons {
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.general-no-wallet-desktop__wrapper .buttons-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 4px 16px #ccc;
          box-shadow: 0px 4px 16px #ccc;
  border-radius: 8px;
  margin-left: 40px;
  width: 240px;
  height: 120px;
  outline: none;
}
.general-no-wallet-desktop__wrapper .buttons-item:first-child {
  margin-left: 0;
}
