.overview {
  position: relative;
  padding-bottom: 200px;
}
.overview .g-wrapper {
  position: static;
}
.overview__wrapper .title {
  font-family: $Bold;
  font-size: 40px;
  line-height: 54px;
}
.overview__wrapper .description {
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
  margin-top: 8px;
  margin-bottom: 40px;
}
.overview__wrapper .subtitle {
  margin-top: 80px;
  font-family: $Bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}
.overview__wrapper .error {
  margin-top: 24px;
  color: #d72c33;
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
}
.overview__wrapper .margin {
  margin-top: 40px;
}
.overview__wrapper .content {
  margin-top: 16px;
}
.overview__wrapper .content p {
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
  margin-top: 22px;
}
.overview__wrapper .content p:first-child {
  margin-top: 0;
}
.overview__wrapper .black-link {
  margin-top: 40px;
}
.overview__wrapper-items .item {
  margin-top: 40px;
}
.overview__wrapper-items .item:first-child {
  margin-top: 0;
}
.overview__wrapper-items .item h3 {
  font-family: $Medium;
  font-size: 16px;
  line-height: 22px;
  display: block;
}
.overview__wrapper-items .item span {
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
  color: rgba(60,60,67,0.6);
  margin-top: 7px;
  display: block;
}
