.popup-product-item-redeem .popup__content {
  overflow: auto;
  max-height: 486px;
  scrollbar-width: none;
}
.popup-product-item-redeem .popup__content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.popup-product-item-redeem .popup__content .info__form {
  border-radius: 8px 8px 0px 0px;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  position: relative;
  z-index: 5;
}
.popup-product-item-redeem .popup__content .info__form-right button.currency {
  background: #b9bbbc;
  -webkit-box-shadow: 0px 0px 16px #b9bbbc;
          box-shadow: 0px 0px 16px #b9bbbc;
}
.popup-product-item-redeem .popup__content .info__form-right button.currency span {
  color: $black;
}
.popup-product-item-redeem .popup__content .form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background: #fcfcfc;
  -webkit-box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
          box-shadow: 0px 4px 16px rgba(0,0,0,0.12);
  border-radius: 0px 0px 8px 8px;
  padding: 24px 16px;
}
.popup-product-item-redeem .popup__content .form form label,
.popup-product-item-redeem .popup__content .form form input {
  font-family: $Medium;
  font-size: 18px;
  line-height: 28px;
}
.popup-product-item-redeem .popup__content .form form label {
  margin-top: 16px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  color: rgba(60,60,67,0.6);
}
.popup-product-item-redeem .popup__content .form form label:first-child {
  margin-top: 0;
}
.popup-product-item-redeem .popup__content .form form input {
  color: $black;
  background: none;
  border: none;
}
.popup-product-item-redeem .popup__content .button .action {
  background-color: $black;
}
