.popup-deposit .popup__content .info__form-right button.currency {
  background-color: #687ee3;
  -webkit-box-shadow: 0px 0px 16px #687ee3;
          box-shadow: 0px 0px 16px #687ee3;
}
.popup-deposit .popup__content .info__form-right button.use span {
  color: #687ee3;
}
.popup-deposit .popup__content .button .action {
  background-color: $black;
}
