.sidebar-cards {
  padding: 80px 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
}
.sidebar-cards h3 {
  margin-left: 16px;
  margin-bottom: 17px;
}
.sidebar-cards__item {
  padding: 8px 16px;
  margin-top: 23px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-cards__item:hover {
  background-color: #f1f1f1;
}
.sidebar-cards__item:active {
  background-color: #e5e5e5;
}
.sidebar-cards__item:first-child {
  margin-top: 0;
}
.sidebar-cards__item:nth-child(2) {
  margin-top: 0;
}
.sidebar-cards__item .item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar-cards__item .item a .image {
  min-width: 54px;
  width: 54px;
  height: 40px;
  -webkit-filter: drop-shadow(0px 4px 16px #ccc);
          filter: drop-shadow(0px 4px 16px #ccc);
}
.sidebar-cards__item .item a .image picture img {
  display: block;
  width: 100%;
  height: 100%;
}
.sidebar-cards__item .item a .info {
  margin-left: 18px;
}
.sidebar-cards__item .item a .info h4 {
  font-family: $Bold;
  color: $black;
}
.sidebar-cards__item .item a .info p {
  margin-top: 4px;
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
}
.sidebar-cards__item.active {
  background-color: #e5e5e5;
}
@media (max-width: 1279px) {
  .sidebar-cards {
    display: none;
  }
}
