.statements-inner .g-wrapper {
  position: static;
}
.statements-inner__wrapper .title span.balance {
  font-family: $Bold;
  font-size: 24px;
  line-height: 32px;
}
.statements-inner__wrapper .title .description {
  margin-top: 7px;
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
}
.statements-inner__wrapper .graph {
  margin-top: 40px;
}
.statements-inner__wrapper .graph p {
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
}
.statements-inner__wrapper .column {
  margin-top: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.statements-inner__wrapper .column__item {
  margin-left: 24px;
  width: 100%;
  max-width: 200px;
}
.statements-inner__wrapper .column__item:first-child {
  margin-left: 0;
}
.statements-inner__wrapper .column__item span {
  font-family: $Bold;
  font-size: 24px;
  line-height: 32px;
}
.statements-inner__wrapper .column__item p {
  margin-top: 7px;
  font-family: $Medium;
  font-size: 16px;
  line-height: 24px;
}
.statements-inner__wrapper .black-link {
  margin-top: 40px;
}
