.transaction {
  max-height: 100vh;
  overflow-x: scroll;
  width: 100%;
  background-color: #fafafc;
  padding-bottom: 200px;
}
.transaction .g-wrapper {
  position: static;
}
.transaction__wrapper-status .title {
  font-family: $Bold;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
}
.transaction__wrapper-status .description {
  font-family: $Medium;
  color: rgba(60,60,67,0.6);
  text-align: center;
  margin-top: 8px;
}
.transaction__wrapper-gif {
  margin: 80px auto 0;
  width: 200px;
  height: 200px;
}
.transaction__wrapper-gif video {
  display: block;
  width: 100%;
}
