.not-found {
  background-color: #f2f2f2;
  min-height: 100vh;
}
.not-found .g-wrapper {
  margin: 0 auto;
}
.not-found__wrapper {
  padding: 128px 0 236px;
}
.not-found__wrapper h1 {
  font-family: $Regular;
  font-size: 240px;
  line-height: 300px;
  color: $black;
  text-align: center;
  font-weight: normal;
}
.not-found__wrapper p {
  font-family: $Medium;
  font-size: 24px;
  line-height: 32px;
  color: rgba(60,60,67,0.6);
  text-align: center;
}
