.info__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.info__wrapper-menu {
  -webkit-flex-basis: 73.6%;
      -ms-flex-preferred-size: 73.6%;
          flex-basis: 73.6%;
  background-color: #fafafc;
}
.info__wrapper-sidebar {
  background: #f6f6f6;
  border-right: 1px solid rgba(60,60,67,0.07);
  -webkit-flex-basis: 26.4%;
      -ms-flex-preferred-size: 26.4%;
          flex-basis: 26.4%;
}
