form.search-form {
  width: 100%;
  position: relative;
}
form.search-form input {
  width: 100%;
  position: relative;
  background-color: #f1f1f1;
  padding: 8px 51px;
  font-family: $Bold;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  border-radius: 25px;
  border: none;
}
form.search-form input::-webkit-input-placeholder {
  font-family: $Bold;
  color: rgba(60,60,67,0.6);
}
form.search-form input::-moz-placeholder {
  font-family: $Bold;
  color: rgba(60,60,67,0.6);
}
form.search-form input:-moz-placeholder {
  font-family: $Bold;
  color: rgba(60,60,67,0.6);
}
form.search-form input:-ms-input-placeholder {
  font-family: $Bold;
  color: rgba(60,60,67,0.6);
}
form.search-form button {
  position: absolute;
  top: 8px;
  left: 24px;
  background-color: transparent;
  font-family: $Regular;
  font-size: 14px;
  line-height: 24px;
  color: rgba(60,60,67,0.6);
}
