:root {
  --background: rgb(250, 250, 252);
  --background-left-rail: rgb(246, 246, 246);
  --background-left-rail-darker: rgb(241, 241, 241);
  --background-left-rail-darkest: rgb(229, 229, 229);
  --border-background: rgba(60, 60, 67, 0.07);
  --border-primary: rgb(0, 0, 0);
  --border-success: rgb(48, 190, 22);
  --border-error: rgb(215, 44, 51);
  --text-primary: rgb(0, 0, 0);
  --text-link: rgb(0, 0, 0);
  --text-link-hover: rgb(12, 12, 12);
  --text-muted: rgba(60, 60, 67, 0.6);
  --text-error: rgb(215, 44, 51);
  --product-savings: rgb(251, 157, 83);
  --product-treasury: rgb(245, 147, 174);
  --product-governance: rgb(201, 201, 201);
  --product-earnings: rgb(0, 0, 0);
  --button-primary-text: rgb(255, 255, 255);
  --button-primary-background: rgb(0, 0, 0);
  --button-secondary-text: rgb(0, 0, 0);
  --button-secondary-background: rgb(241, 241, 241);
  --button-transparent-text: rgb(0, 0, 0);
  --button-navigation-background: rgb(255, 255, 255);
  --button-navigation-text: rgb(0, 0, 0);
  --button-transparent-background: transparent;
  --shadow: rgba(0, 0, 0, 0.12);
  --mover-logo-shadow: rgba(16, 9, 32, 0.502);
  --mover-logo-background: rgb(16, 9, 32);

  &.dark-theme {
    // TODO: add variables;
    --button-transparent-background: transparent;
  }
}

@background: var(--background);
@background-left-rail: var(--background-left-rail);
@background-left-rail-darker: var(--background-left-rail-darker);
@background-left-rail-darkest: var(--background-left-rail-darkest);
@border-background: var(--border-background);
@border-primary: var(--border-primary);
@border-success: var(--border-success);
@border-error: var(--border-error);
@text-primary: var(--text-primary);
@text-muted: var(--text-muted);
@text-error: var(--text-error);
@text-link: var(--text-link);
@text-link-hover: var(--text-link-hover);
@product-savings: var(--product-savings);
@product-treasury: var(--product-treasury);
@product-governance: var(--product-governance);
@product-earnings: var(--product-earnings);
@button-primary-text: var(--button-primary-text);
@button-primary-background: var(--button-primary-background);
@button-secondary-text: var(--button-secondary-text);
@button-secondary-background: var(--button-secondary-background);
@button-transparent-text: var(--button-transparent-text);
@button-transparent-background: var(--button-transparent-background);
@button-navigation-background: var(--button-navigation-background);
@button-navigation-text: var(--button-navigation-text);
@shadow: var(--shadow);
@mover-logo-shadow: var(--mover-logo-shadow);
@mover-logo-background: var(--mover-logo-background);
